제시된 한국어 리뷰 data를 이용하여
탐색적 데이터 분석 (EDA)를 하시오.

In [2]:
import codecs
import pandas as pd
with codecs.open('ratings_test.txt',encoding='utf-8') as f:
    data=[i.split('\t') for i in f.read().splitlines()]
    m=data[0]
    data=data[1:]
p_data=pd.DataFrame(data,columns=m)
p_data

            id                                           document label
0      6270596                                                굳 ㅋ     1
1      9274899                               GDNTOPCLASSINTHECLUB     0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아     0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....     0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??     0
...        ...                                                ...   ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함     1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO     0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다     0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네     0
49999  6070594                                         마무리는 또 왜이래     0

[50000 rows x 3 columns]

In [3]:
df=pd.DataFrame()
df['document']=p_data['document'].values
df['label']=p_data['label'].values
df

                                                document label
0                                                    굳 ㅋ     1
1                                   GDNTOPCLASSINTHECLUB     0
2                 뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아     0
3                       지루하지는 않은데 완전 막장임... 돈주고 보기에는....     0
4      3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??     0
...                                                  ...   ...
49995          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함     1
49996       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO     0
49997                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다     0
49998     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네     0
49999                                         마무리는 또 왜이래     0

[50000 rows x 2 columns]

1.결측치확인

In [4]:
import numpy as np
df.isna().sum()

document    0
label       0
dtype: int64

2.중복제거

In [5]:
np.unique(df)

array(['', '!!', '!!!!', ..., '힙합에 똥칠하는 찐따 둘이서 힙합을 능욕하는 모습을 그린영화.',
       '힛걸에, 힛걸을 위한, 힛걸의', '龍頭蛇尾 過猶不及 針小棒大 키리시마는 맥거핀~'], dtype=object)

In [7]:
df.document.nunique() # 개수 확인

49158

In [8]:
df=df.drop_duplicates(subset=['document'])
df

                                                document label
0                                                    굳 ㅋ     1
1                                   GDNTOPCLASSINTHECLUB     0
2                 뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아     0
3                       지루하지는 않은데 완전 막장임... 돈주고 보기에는....     0
4      3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??     0
...                                                  ...   ...
49995          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함     1
49996       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO     0
49997                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다     0
49998     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네     0
49999                                         마무리는 또 왜이래     0

[49158 rows x 2 columns]

3. 한글아닌 요소 제거

In [9]:
df['document']=df.document.str.replace('[^ㄱ-ㅎ ㅏ-ㅣ 가-힣 ]','')

C:\Users\류성빈\AppData\Local\Temp/ipykernel_26188/2985358417.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['document']=df.document.str.replace('[^ㄱ-ㅎ ㅏ-ㅣ 가-힣 ]','')
C:\Users\류성빈\AppData\Local\Temp/ipykernel_26188/2985358417.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['document']=df.document.str.replace('[^ㄱ-ㅎ ㅏ-ㅣ 가-힣 ]','')

In [13]:
df['document']=df.document.str.replace('^ +','') # 시작지점 앞 공백 제거

C:\Users\류성빈\AppData\Local\Temp/ipykernel_26188/221906412.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['document']=df.document.str.replace('^ +','') # 시작지점 앞 공백 제거
C:\Users\류성빈\AppData\Local\Temp/ipykernel_26188/221906412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['document']=df.document.str.replace('^ +','') # 시작지점 앞 공백 제거

In [17]:
df['document']=df.document.replace('',np.nan) #공백을 nan으로 지정

C:\Users\류성빈\AppData\Local\Temp/ipykernel_26188/423754258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['document']=df.document.replace('',np.nan) #공백을 nan으로 지정

In [19]:
df=df.dropna()
df

                                         document label
0                                             굳 ㅋ     1
2                뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아     0
3                       지루하지는 않은데 완전 막장임 돈주고 보기에는     0
4       만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠     0
5                               음악이 주가 된 최고의 음악영화     1
...                                           ...   ...
49995   오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함     1
49996    의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따      0
49997             그림도 좋고 완성도도 높았지만 보는 내내 불안하게 만든다     0
49998  절대 봐서는 안 될 영화 재미도 없고 기분만 잡치고 한 세트장에서 다 해먹네     0
49999                                  마무리는 또 왜이래     0

[48852 rows x 2 columns]

In [24]:
s_w=['은','는','이','가','를','들','에게','의','를','도','으로','만','라서','한다','함','네','이래','하게','한','어','요','에']

In [40]:
from konlpy.tag import Okt
tk=Okt()
end_d=[]

for i in df['document']:
    l=[]
    
    tk_m=tk.morphs(i)
    for j in tk_m:
        if j not in s_w:
            l.append(j)
    l2=[]
    합=""
    for k in l:
        합=합+' '+k
    l2.append(합)
    end_d.append(l2)
    
end_k=[]
for i in df['label']:
    k=[]
    k.append(i)
    end_k.append(k)

    
df_d=pd.DataFrame(end_d,columns=['document'])
df_d['label']=pd.DataFrame(end_k)
df_d

                                         document label
0                                             굳 ㅋ     1
1                  뭐 야 평점 나쁘진 않지만 점 짜 리 더 더욱 아니잖아     0
2                    지루하지는 않은데 완전 막장 임 돈 주고 보기 에는     0
3          아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기 불편하게 하죠     0
4                                음악 주가 된 최고 음악 영화     1
...                                           ...   ...
48847   오랜 평점 로 긴 했네 ㅋㅋ 킹왕짱 쌈뽕 영화 만났습니다 강렬하게 육 쾌함     1
48848     의지 박약 이나 하는거다 탈영 일단 주인공 김대희 닮았고 이등병 찐 따     0
48849             그림 좋고 완성 도도 높았지만 보는 내내 불안하게 만든다     0
48850   절대 봐 서는 안 될 영화 재미 없고 기분 잡 치고 세트 장 에서 다 해먹     0
48851                                     마무리 또 왜     0

[48852 rows x 2 columns]

In [47]:
df_d.isna().sum()

document    0
label       0
dtype: int64

In [48]:
df_d.isna().head(20)

    document  label
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
5      False  False
6      False  False
7      False  False
8      False  False
9      False  False
10     False  False
11     False  False
12     False  False
13     False  False
14     False  False
15     False  False
16     False  False
17     False  False
18     False  False
19     False  False

In [41]:
from sklearn.feature_extraction.text import CountVectorizer#특정단어가 얼만큼 입력되었는지 확ㅇ인하기위한 것
from wordcloud import WordCloud,STOPWORDS 
from bs4 import BeautifulSoup#html 파서해서 단어만 남게함 /데이터 정리
import re
import nltk
from nltk.corpus import stopwords
from string import punctuation # 데이터 구성상에서 글자에 대응대는 부호들을 의미한다. 이를 배제할때 사용하기위해 불러옴
from nltk import pos_tag# 글자마다 키워드값 제시
import seaborn as sns
import matplotlib.pyplot as plt

In [45]:
wc=WordCloud(max_words=2000).generate(' '.join(df_d[df_d.label==0].document))
plt.imshow(wc)

ValueError: We need at least 1 word to plot a word cloud, got 0.